body {
	background-color: #2e51a2;
}

.white {
	color: white;
}

.shortbr {
	display: block;
	margin: 10px 0;
}

.poop {
	color: white;
}

.shortinput {
	width: 300px !important;
}

.boxed {
	/*border: 1px solid white;*/
	/*background-color: white;*/
	border-radius: 25px;
	height: 400px;
	width: 350px;
}

.curved {
	border-radius: 10px;
	display: inline-block;
    height: 100%;
    vertical-align: middle;
    max-width: 250px;
    max-height: 300px;
    min-width: 250px;
    min-height: 300px;

}

#meeperZ .meep {
	border: 1px solid white;
	background-color: white;
	position: relative;
	visibility: hidden;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#meeperZ:hover .meep {
	visibility: visible;
}

.sidebyside {
	display: inline-block;
	float: none; /* idk man */
	vertical-align: middle;
	/*margin-left: auto;
    margin-right: auto;*/

}

/*img .sidebyside{
	float: left;
}
*/
.text {
	word-wrap: break-word;
	text-overflow: ellipsis;
}

.custom {
	vertical-align:top;
}

.bootstrap-tagsinput {
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  display: inline-block;
  padding: 4px 6px;
  color: #555;
  vertical-align: middle;
  border-radius: 4px;
  max-width: 100%;
  line-height: 22px;
  cursor: text;
}

.bootstrap-tagsinput input {
  border: none;
  box-shadow: none;
  outline: none;
  background-color: transparent;
  padding: 0 6px;
  margin: 0;
  width: auto;
  max-width: inherit;
}
.bootstrap-tagsinput.form-control input::-moz-placeholder {
  color: #777;
  opacity: 1;
}
.bootstrap-tagsinput.form-control input:-ms-input-placeholder {
  color: #777;
}
.bootstrap-tagsinput.form-control input::-webkit-input-placeholder {
  color: #777;
}
.bootstrap-tagsinput input:focus {
  border: none;
  box-shadow: none;
}
.bootstrap-tagsinput .tag {
  margin-right: 2px;
  color: white;
}
.bootstrap-tagsinput .tag [data-role="remove"] {
  margin-left: 8px;
  cursor: pointer;
}
.bootstrap-tagsinput .tag [data-role="remove"]:after {
  content: "x";
  padding: 0px 2px;
}
.bootstrap-tagsinput .tag [data-role="remove"]:hover {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.bootstrap-tagsinput .tag [data-role="remove"]:hover:active {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.twitter-typeahead { width: 100% !important; } 