<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="/static/owlcarousel/owl.carousel.min.css">
    <link rel="stylesheet" href="/static/owlcarousel/owl.theme.default.min.css">
    <link rel="stylesheet" href="/static/mdb/css/mdb.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <script src="/static/bootstrap-tagsinput.js"></script>
    <link rel="stylesheet" href="/static/bootstrap-tagsinput.css">
    <link rel="stylesheet" href="/static/css/search.css" type="text/css">
    <link rel="stylesheet" href="/static/css/featuredisplay.css" type="text/css">
    <link rel="stylesheet" href="/static/css/recommended.css" type="text/css">
    <link rel="icon" type="image/png" sizes="96x96" href="/static/favicon-96x96.png">
    <script src="https://getbootstrap.com/dist/js/bootstrap.min.js"></script>
    <script src="/static/typeahead.bundle.js"></script>
    <script src="/static/bloodhound.js"></script>
    <script src="/static/aniai.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Maven+pro"> -->
    <script>
        $(document).ready(function() {
            $(".owl-carousel").owlCarousel( {
                items: 5,
                stagePadding: 50,
                loop: true,
                margin: 30,
                nav: true
            });
        });
        document.addEventListener("DOMContentLoaded", function(event) {
            {% if data %}
            {% else %}
                loadrecommended();

            {% endif %}
            
        }
        );
    </script>    
</head>

<body>


    <script language="JavaScript1.2">
        //https://pbs.twimg.com/profile_images/1096714485/gary_busey_400x400.jpeg
        //background: url("myPicture.jpg");

        grphcs=new Array(6)
        Image0=new Image(20,20);
        Image0.src=grphcs[0]="/static/images/petal1.png";

        Image1=new Image();
        Image1.src=grphcs[1]="/static/images/petal2.png";
        //Image1.z-index=1;
        Image2=new Image();
        Image2.src=grphcs[2]="/static/images/petal3.png";
        //Image2.z-index=-1;
        Image3=new Image();
        Image3.src=grphcs[3]="/static/images/petal4.png";
        //Image3.z-index=-1;
        Image4=new Image();
        Image4.src=grphcs[4]="/static/images/petal5.png";
        //Image4.z-index=-1;
        Image5=new Image();
        Image5.src=grphcs[5]="/static/images/petal6.png";
        //Image5.z-index=-1;

        Amount=10; //Smoothness depends on image file size, the smaller the size the more you can use
        Ypos=new Array();
        Xpos=new Array();
        Speed=new Array();
        Step=new Array();
        Cstep=new Array();
        ns=(document.layers)?1:0;
        ns6=(document.getElementById&&!document.all)?1:0;

        if (ns){
        for (i = 0; i < Amount; i++){
        var P=Math.floor(Math.random()*grphcs.length);
        rndPic=grphcs[P];
        document.write("<LAYER NAME='sn"+i+"' LEFT=0 TOP=0><img src="+rndPic+"></LAYER>");
        }
        }
        else{
        document.write('<div style="position:absolute;top:0px;left:0px"><div style="position:relative">');
        for (i = 0; i < Amount; i++){
        var P=Math.floor(Math.random()*grphcs.length);
        rndPic=grphcs[P];
        document.write('<img id="si'+i+'" src="'+rndPic+'" style="position:absolute;top:0px;left:0px">');
        }
        document.write('</div></div>');
        }
        WinHeight=(ns||ns6)?window.innerHeight:window.document.body.clientHeight;
        WinWidth=(ns||ns6)?window.innerWidth-70:window.document.body.clientWidth;
        for (i=0; i < Amount; i++){                                                                
         Ypos[i] = Math.round(Math.random()*WinHeight);
         Xpos[i] = Math.round(Math.random()*WinWidth);
         Speed[i]= Math.random()*5+3;
         Cstep[i]=0;
         Step[i]=Math.random()*0.1+0.05;
        }
        function fall(){
        var WinHeight=(ns||ns6)?window.innerHeight:window.document.body.clientHeight;
        var WinWidth=(ns||ns6)?window.innerWidth-70:window.document.body.clientWidth;
        var hscrll=(ns||ns6)?window.pageYOffset:document.body.scrollTop;
        var wscrll=(ns||ns6)?window.pageXOffset:document.body.scrollLeft;
        for (i=0; i < Amount; i++){
        sy = Speed[i]*Math.sin(90*Math.PI/180)*.5;
        sx = Speed[i]*Math.cos(Cstep[i]);
        Ypos[i]+=.2*sy;
        Xpos[i]+=.3*sx; 
        if (Ypos[i] > WinHeight){
        Ypos[i]=-60;
        Xpos[i]=Math.round(Math.random()*WinWidth);
        Speed[i]=Math.random()*5+3;
        }
        if (ns){
        document.layers['sn'+i].left=Xpos[i];
        document.layers['sn'+i].top=Ypos[i]+hscrll;
        }
        else if (ns6){
        document.getElementById("si"+i).style.left=Math.min(WinWidth,Xpos[i]);
        document.getElementById("si"+i).style.top=Ypos[i]+hscrll;
        }
        else{
        eval("document.all.si"+i).style.left=Xpos[i];
        eval("document.all.si"+i).style.top=Ypos[i]+hscrll;
        } 
        Cstep[i]+=Step[i];
        }
        setTimeout('fall()',20);
        }

        window.onload=fall
        //-->
    </script>

    

    <style>
        .tree{
            position: fixed;
            top: 0;
            left: 0;
            width: 400px;
            height: 300px;
            padding:0;
            background: none;
            z-index: -2;
        }
    </style>

    <div class="tree">
        <img src="/static/images/csscherry3.png" style='width: 100%; '>
    </div>
    <div>
        <!--title-->
        <h1 style="padding-top:20%; font-size: 85px; font-family:Futura; color:#efe9e8; text-align:center">
            &ensp;Aniai.&#24859
        </h1>
        <!--tag line-->
        <!-- <h1 style="padding-top:20%; font-size: 85px; font-family:Futura; color:white; text-align:center">Let's Find Some Good Anime</h1> -->
        <form id="myform"> <!--class = "form-inline global-search" id="myform"> -->
            <div class="form row" style="height:32px; padding:0; margin:0; width:100%"> 
                <!-- style:"height:30px vertical-align:bottom"> -->
                <div class="col-lg-11 animesearch" style="padding:0; margin:0">
                    <div id="scrollable-dropdown-menu">
                        <input id="animeinput" type="text" name="animesearch" placeholder="Similar anime..."/>
                    </div>
                    
<!--                    <div id="scrollable-dropdown-menu">
                        <input id="wordinput" type="text" name="wordsearch" placeholder="Words..."/>
                    </div> -->
                    
                </div>
                <div class="col-md-1" style="margin: 0; padding: 0">
                    <button class="search-button" type="submit" style="border-top-right-radius:4px"><i class="fa fa-search"></i></button>
                </div>
                <!--<div class="form-group col-md-4">
                                <input type="submit" value="Submit">
                            </div> -->
            </div> <!--class = "form-inline global-search" id="myform"> -->
            <div class="form row" style="height:32px; padding:0; margin:0; width:100%"> 
                <!-- style:"height:30px vertical-align:bottom"> -->
                <div class="col-lg-11 wordsearch" style="padding:0; margin:0">
                    <div id="scrollable-dropdown-menu">
                        <input id="wordinput" type="text" name="wordsearch" placeholder="Words..."/>
                    </div>
                </div>
                <div class="col-md-1" style="margin: 0; padding:0">
                    <!-- <button type="submit" id="submit" class="btn btn-info btn-submit" style="margin:0; height:32px">Submit3</button> -->
                    <button class="search-button" type = "button" data-toggle="collapse" data-target="#collapseForm" aria-expanded="false" aria-controls="collapseForm" style="margin:0;border-left:white;border-right:white;border-bottom-right-radius:4px"><i class="fa fa-filter"></i>Filter</button>
                </div>
             </div>

            <div class="collapse" id="collapseForm">
                <div class="form-group row justify-content-md-around" style="color:white;margin:0; border-bottom-right-radius:10px; border-bottom-left-radius:10px; width:100%">
                    <div class="col-md-6" style="text-align:center">
                        <div class="filter-header">
                            <span>Choose As Many Flavors As You Like:</span>
                        </div>
                        <hr>
                        <div class="form-check">
                            {% set genres=['action', 'adventure', 'cars', 'comedy', 'dementia', 'demons', 'drama','fantasy', 'game', 'harem', 'historical', 'horror', 'josei', 'kids', 'magic', 'martial arts', 'meccha', 'military', 'music', 'mystery', 'parody', 'police', 'psychological', 'romance', 'samurai', 'school', 'sci-fi', 'seinen', 'shoujo', 'shoujo-ai', 'shounen', 'shounen-ai', 'slice of life', 'space', 'sports', 'super power', 'supernatural', 'thriller', 'vampire'] %}
                            {% for genre in genres %}
                            <label class="genre-checkbox" style="color:white">
                                <input type="checkbox" name={{genre}} checked/>
                                <div class="tag-button active checked">{{genre}}</div>
                                <div class="tag-button inactive unchecked">{{genre}}</div>
                            </label>
                            {% endfor %}
                            <div>
                                <div class="collapse" id="collapsensfw">
                                    <div class="form-check">
                                        {% set nsfwgenres=['ecchi', 'hentai', 'yaoi', 'yuri']%}
                                        {% for nsfwgenre in nsfwgenres %}
                                        <label class="genre-checkbox" style="color:white">
                                            <input type="checkbox" name={{nsfwgenre}} unchecked/>
                                            <div class="tag-button active checked">
                                                {{nsfwgenre}}
                                            </div>
                                            <div class="tag-button inactive unchecked">
                                                {{nsfwgenre}}
                                            </div>
                                        </label>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div> 
                    </div>

                    <div class="col-md-auto">
                        <div class="filter-header">
                            <span>Type</span>
                        </div>
                        <hr>
                        <div class="form-check">
                            <label class="fancy-checkbox" style="color:white">
                                <input type="checkbox" name="displayTv" checked/>
                                <i class="fa fa-fw fa-times unchecked" style="color:red"></i>
                                <i class="fa fa-fw fa-check checked" style="color:green"></i>
                                television
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="fancy-checkbox" style="color:white">
                                <input type="checkbox" name="displayMovie" checked/>
                                <i class="fa fa-fw fa-times unchecked" style="color:red"></i>
                                <i class="fa fa-fw fa-check checked" style="color:green"></i>
                                movie
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="fancy-checkbox" style="color:white">
                                <input type="checkbox" name="displaySpecial" checked/>
                                <i class="fa fa-fw fa-times unchecked" style="color:red"></i>
                                <i class="fa fa-fw fa-check checked" style="color:green"></i>
                                special
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="fancy-checkbox" style="color:white;">
                                <input type="checkbox" name="displayOva" checked/>
                                <i class="fa fa-fw fa-times unchecked" style="color:red"></i>
                                <i class="fa fa-fw fa-check checked" style="color:green"></i>
                                OVA
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="fancy-checkbox" style="color:white;">
                                <input type="checkbox" name="displayOna" checked/>
                                <i class="fa fa-fw fa-times unchecked" style="color:red"></i>
                                <i class="fa fa-fw fa-check checked" style="color:green"></i>
                                ONA
                            </label>
                        </div>
                        <div class="filter-header">
                            <span>How You Want To Watch:</span>
                        </div>
                        <hr>
                        <div class="form-check">
                            <label class="fancy-checkbox" style="color:white">
                                <input type="checkbox" name="streamCrunchy" checked/>
                                <i class="fa fa-fw fa-times unchecked" style="color:red"></i>
                                <i class="fa fa-fw fa-check checked" style="color:green"></i>
                                crunchyroll
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="fancy-checkbox" style="color:white">
                                <input type="checkbox" name="streamHulu" checked/>
                                <i class="fa fa-fw fa-times unchecked" style="color:red"></i>
                                <i class="fa fa-fw fa-check checked" style="color:green"></i>
                                hulu
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="fancy-checkbox" style="color:white">
                                <input type="checkbox" name="streamYahoo" checked/>
                                <i class="fa fa-fw fa-times unchecked" style="color:red"></i>
                                <i class="fa fa-fw fa-check checked" style="color:green"></i>
                                Yahoo! View
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="fancy-checkbox" style="color:white">
                                <input type="checkbox" name="streamNone" checked/>
                                <i class="fa fa-fw fa-times unchecked" style="color:red"></i>
                                <i class="fa fa-fw fa-check checked" style="color:green"></i>
                                allow no provider
                            </label>
                        </div>
                    </div>
                    
                    <div class="col-md-auto">
                        <div class="form-check filter">
                            <div class="filter-header">
                                <span> Rated </span>
                                <label class="genre-checkbox" style="color:white; position:absolute; top:10px" data-toggle="collapse" data-target="#collapsensfw, #collapsensfwrating" aria-expanded="false" aria-controls="collapsensfw">
                                    <input type="checkbox" name="sfw" checked/>
                                    <div class="sfw-button unchecked">NSFW ON</div>
                                    <div class="sfw-button active checked">SFW ON</div>
                                </label>
                                <!--<input style="display:inline" type="checkbox" class="form-check-input tag" id="sfwSearch" name="sfwSearch" checked>
                                <label style="display:inline" for="sfwSearch" class="sfw-button active" data-toggle="collapse" data-target="#collapsensfw, #collapsensfwrating" aria-expanded="false" aria-controls="collapsensfw">  SFW ON  </label> -->
                            </div>
                        </div>
                        <hr>
                        
                        <div class="form-check">
                            <label class="fancy-checkbox" style="color:white">
                                <input type="checkbox" name="gRating" checked/>
                                <i class="fa fa-fw fa-times unchecked" style="color:red"></i>
                                <i class="fa fa-fw fa-check checked" style="color:green"></i>
                                G &#8212 all ages
                            </label>
                        </div>
                        
                        <div class="form-check">
                            <label class="fancy-checkbox" style="color:white">
                                <input type="checkbox" name="pgRating" checked/>
                                <i class="fa fa-fw fa-times unchecked" style="color:red"></i>
                                <i class="fa fa-fw fa-check checked" style="color:green"></i>
                                PG &#8212 children
                            </label>
                        </div>
                        
                        <div class="form-check">
                        <label class="fancy-checkbox" style="color:white">
                        <input type="checkbox" name="pg13Rating" checked/>
                        <i class="fa fa-fw fa-times unchecked" style="color:red"></i>
                        <i class="fa fa-fw fa-check checked" style="color:green"></i>
                        PG-13 &#8212 teens 13 or older
                        </label>
                        </div>
                        
                        <div class="form-check">
                        <label class="fancy-checkbox" style="color:white">
                        <input type="checkbox" name="r17Rating" checked/>
                        <i class="fa fa-fw fa-times unchecked" style="color:red"></i>
                        <i class="fa fa-fw fa-check checked" style="color:green"></i>
                        R &#8212 17+ (violence & profanity)
                        </label>
                        </div>
                        
                        <div class="collapse" id="collapsensfwrating">
                            <div class="form-check">
                                <label class="fancy-checkbox" style="color:white">
                                <input type="checkbox" name="rPlusRating"/>
                                <i class="fa fa-fw fa-times unchecked" style="color:red"></i>
                                <i class="fa fa-fw fa-check checked" style="color:green"></i>
                                R+ &#8212 mild nudity
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="fancy-checkbox" style="color:white">
                                <input type="checkbox" name="rxRating"/>
                                <i class="fa fa-fw fa-times unchecked" style="color:red"></i>
                                <i class="fa fa-fw fa-check checked" style="color:green"></i>
                                Rx &#8212 hentai
                                </label>
                            </div>
                        </div>

                        <div class="form-check filter" style="border: 2px solid white; padding-bottom: 10px; margin-top: 4px">
                            <div class="filter-header">
                                <span> Filter Same Series </span>
                                <label class="fancy-checkbox" style="color:white; position:absolute; top:10px">
                                <input type="checkbox" name="filter same series" unchecked/>
                                <i class="fa fa-check-square-o checked" style="font-size:30px; margin-left:10px; color:pink"></i>
                                <i class="fa fa-square-o unchecked" style="font-size:30px; margin-left:10px; color:pink"></i>
                                </label>
                            </div>
                        </div>
                        <hr hidden>
                        
                        <!--<div class="filter-header">
                            <span>Stream Provider</span>
                        </div>
                       <hr>
                       <div class="form-check">
                            <label class="fancy-checkbox" style="color:white">
                                <input type="checkbox" name="streamCrunchy" checked/>
                                <i class="fa fa-fw fa-times unchecked" style="color:red"></i>
                                <i class="fa fa-fw fa-check checked" style="color:green"></i>
                                crunchyroll
                            </label>
                        </div> -->
                    </div>

                </div>             
            </div>
            
        </form>
</div>
        {% if data %}
<!--            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>

            <br>
            <br>
            <br>
            <br>
            <br> -->
            <hr>
            <div id="tester" class="media-header">
                <div class="row title">
                    <div class="col title" id="media-title">
                        <span>random title</span>
                    </div>
                    <div class="col-auto icon" style="font-style:normal">
                        <img src="/static/images/yahoo-view.png" hidden>
                        <span style="font-family:FuturaMedium; font-weight: bold; font-size:25; color:lawngreen" hidden>hulu</span>
                        <img src="/static/images/Crunchyroll_24x24.png" style="vertical-align:0">
                        <div style="display:inline-block; vertical-align: top">
                            <span style="font-family:Maven pro; font-size:24; display:inline-block" >crunchyroll </span>
                        </div>
                        <a href="https:www.crunchyroll.com" role="button" id="video-link" target="_blank"><i class="fa fa-external-link"></i></a>
                    </div>
                </div>
                <div class="row episodeinfo">
                    <div class="col type" id="media-type">
                       <span> {{data[0][0]["anime_type"]}}</span>
                    </div>
                   <div class="col rating" id="media-rating">
                    <span> {{data[0][0]["anime_rating"]}}</span>               
                    </div>
                    <div class="col duration" id="media-duration">
                        <span> {{data[0][0]["anime_duration"]}}</span>
                    </div>
                    <div class="col episodes" id="episode-count">
                        <span> {{data[0][0]["anime_number_of_episodes"]}} episodes</span>
                    </div>
                </div>

                <div class="row genres">
                    <div class="col genres" id="media-genres">
                         {% set genrelist = data[0][0]["anime_genres"].split(' | ') %}
                         {% for tag in genrelist %}
                         <span class="genre">{{tag}}</span>
                         {% endfor %}
                    </div>
                </div>
            </div>
             
            <div class="media">
                <div class = "media-self-center media-left anime-picture">
                   <div class="container anime-picture">
                        <img src={{data[0][0]["anime_image_url"]}} class="anime-picture" id="media-image">
                    </div>
                </div>
                <!--        <a class = "media-left media-bottom" style="padding-bottom: 0px" href = "https://www.google.com" target="_blank">
                <div class="view overlay" style="cursor:pointer">
                    <img src={{data[0][0]["anime_image_url"]}} class="img-fluid" alt = "Anime Image" style = "height:50%">
                    <div class="mask flex-center rgba-black-light">
                        <ul class="fa-ul" style="margin-left:0">
                          <li><p class="white-text" style="font-size: 20px">watch on <img src="/static/images/Crunchyroll_24x24.png" style="display:inline"><span style="font-family:Maven pro">crunchyroll </span><i class="fa fa-external-link"></i></p></li>
                        <li><i class="fa fa-play"  style="font-size:60px; color:white"></i></li>
                        </ul>
                    </div>
                </div>
                </a> -->

                <div class="media-body" style="height:50%">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <span>Synopsis: {{data[0][0]["anime_synopsis"]}}</span>
                            </div>
                            <div class="col-6 semantic media-logo">
                            Aniai.&#24859 
                        </div>
                        </div>

                        <!--                <div class="row"><h2> This is a header </h2>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p>Genres: Action, Adventure, Comedy</p>
                                <p>Duration: 24 min per ep</p>
                           1 of 3
                            </div>
                            <div class="col-6">
                            2 of 3 (wider)
                            </div>
                            <div class="col">
                           3 of 3
                            </div>
                        </div> -->
                    </div>
                </div>
                
            </div>
            <div class="media-footer"> 
                <div class="container">
                    <div class="row">
                    </div>
                </div>
            </div>
            
            <div id="cardCarousel" class="carousel slide" date-ride="carousel">
                <ol class="carousel-indicators">
                     {% for lst in data %}
                     <li data-target="#cardCarousel" data-slide-to"{{ loop.index0}}"
                     {% if loop.index0 == 0 %}
                     class="active"
                     {% endif %}>
                     </li>

                     
                     {% endfor %}
                </ol>
                <div class = "carousel-inner" style="overflow:hidden">
                    {% for lst in data %}
                    <div class="carousel-item {{'active' if loop.index0 == 0}}">
                        <div class = "row">
                            {% for d in lst %}
                            <div class="col carousel-picture" scroll="no" id="suggestionCard">
                                    <div class="view overlay" id="suggestionCard" data-index = "{{d['anime_index']}}" data-title = "{{d['anime_english_title']}}"
                                     data-type="{{d['anime_type']}}" data-duration="{{d['anime_duration']}}" data-image="{{d['anime_image_url']}}" 
                                     data-episodes="{{d['anime_number_of_episodes']}}" data-genres="{{d['anime_genres']}}" data-synopsis="{{d['anime_synopsis']}}">
                                <div class="container carousel-picture" id="suggestionCard">
                                        <img src={{d["anime_image_url"]}} class="carousel-picture">
                                    </div>
                                        <div class="mask flex-center rgba-black-light" id="suggestionCard">
                                            <div class ="carousel-info crop">{{d["anime_english_title"]}}</div>
                                        </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>

<!--                        <div class="card-group" hidden>
                            {% for d in lst %}
                            <div class="card expandable" id="suggestionCard" style="cursor:pointer" data-anime-id={{d["anime_id"]}} data-title={{d["anime_english_title"]}} data-anime-index={{d["anime_index"]}} data-synposis='{{d["anime_synopsis"]}}' data-url={{d["anime_image_url"]}} data-json ='{"test":"testthis", "test2":"&other"}'>
                                   <div class="view zoom">
                               <img class="card-img-top img-fluid" src="{{d["anime_image_url"]}}">
                               <div class="card-body" style="background-color:black;padding-bottom:20px">
                                   <h5 class="card-title" style="color:white;text-align:center">{{d["anime_english_title"]}}</h5>
                               </div>
                               </div
                            </div>
                           {% endfor %}
                        </div> -->
                    </div>
                   {% endfor %}
                </div>

                <a class="carousel-control-prev" href="#cardCarousel" role="button" data-slide="prev" style="width:30px;margin:0">
                    <!--        <span class="carousel-control-prev-icon" aria-hidden="true"></span> -->
                    <i class="fa fa-chevron-left fa-2x"></i>
                    <span class="sr-only">
                        Previous
                    </span>
                </a>
                <a class="carousel-control-next" href="#cardCarousel" role="button" data-slide="next" style="width:30px;margin:0">
                    <!--<span class="carousel-control-next-icon" aria-hidden="true"></span>-->
                    <i class="fa fa-chevron-right fa-2x"></i>
                    <span class="sr-only">Next</span>
                </a>
            </div>


{% else %}
<h1 style="color: white"> Recommended Anime </h1>

<div class="owl-carousel owl-theme owl-loaded" style="height: 400px">
    <div class="owl-stage-outer">
        <div class="owl-stage" id="recommendation-stage">
            <div class="owl-item">
            </div>
        </div>
    </div>
</div>

        {% endif %}
    </div>
    <!--    <script>
            $.getJSON("/static/data/anime_info.json", function(data) {
                 console.log(data);
                 document.getElementById('anime_info').innerHTML = data;
            });
    </script> -->

    <!--<script type="text/javascript" src="/static/mdb/js/popper.min.js"></script> -->
 
            <script>
                var potato = function(anime_id) {
                        $.getJSON("/static/data/anime_recommended.json", function(data) {
                        var anime = data[anime_id];
                        $('#media-image').attr('src', anime.anime_image_url);
                        $('#media-title span').text(anime.anime_english_title);
                        $('#media-type span').text(anime.anime_type);
                        $('#media-rating span').text(anime.anime_rating);
                        $('#episode-count span').text(anime.anime_number_of_episodes);
                        $('#media-duration').text(anime.anime_duration);
                        var tags = anime.anime_tags.split("|");
                        var str = "";
                        for (var tag in tags) {
                            str += '<span class="genre">' + tags[tag] + "</span>";
                        };
                        $('#media-genres').replaceWith(
                        '<div class="col genres" id="media-genres">' + str + '</div>'
                        );
                        console.log("Finished potato");
                        });
                    };

                $(".view").click(function() {
                    var anime_index = $(this).attr('data-index');
                    var anime_image_url = $(this).data("image");
                    var title = $(this).data("title");
                    var synopsis = $(this).data("synopsis");

                    
                    $('#media-image').attr('src', anime_image_url);
                    $('#media-title span').text(title);
                });
                  </script>
    <script>
        var loadrecommended = function() {
            $.getJSON("/static/data/anime_recommended.json", function(data) {
                var str = "";
                data.forEach(function(anime) {
                    console.log(anime.anime_image_url);
                str += '<div class="owl-item">' + 
                            '<div class="flip">' + 
                                '<div class="recommend-card">' + 
                                    '<div class="face front">' + 
                                        '<div class="well well-sm inner" style="background: url(' + encodeURI(anime.anime_image_url) + '); background-size: cover; background-position: center"></div>' + 
                            '</div>' + 
                            '<div class="face back">' +
                                '<div class="well well-sm inner">' + 
                                    '<div class="recommendation-header">' + anime.anime_english_title +
                                    '</div>' + 
                                    '<p id="recommendation-synopsis">' + anime.anime_synopsis + '</p>' + 
                                '</div>' +
                           ' </div>' + 
                        '</div>' +
                    '</div>' +
            '</div>'
                });
              console.log(str);
              $('#recommendation-stage').replaceWith(
                  '<div class="owl-stage" id="recommendation-stage">' + str + '</div>');
              $
              $('*[id=recommendation-synopsis]:visible').each(function() {
                   console.log("in here");
                   var divh = $(this).parent().height();
                   console.log(divh);
                   console.log($(this).parent().attr('class'));
                   console.log($(this).attr('class'));
                   console.log($(this).text());
                   console.log("My height: " + $(this).outerHeight());
                   while ($(this).outerHeight(true) > divh) {
                       $(this).text(function (index, text) {
                           return text.replace(/\W*\s(\S)*$/, '...');
                   });
                   };
                   
                
              });
              $(document).on("click", ".flip", function() {
                  $(this).find('.recommend-card').toggleClass('flipped');
              });
                
        });
        };
    </script>



    <script>
        $('.flip').click(function() {
            $(this).find('.recommend-card').toggleClass('flipped');
        });
    </script>
    <script src="/static/owlcarousel/owl.carousel.min.js"></script>
</body>
</html>
